 *{
        font-family: "Poppins", serif;
        font-weight: 100;
        font-style: normal;
 }
.my-sc-font{
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-style: normal;
      }
.my-thard-font {
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
}
body{
    max-width: 1440px;
    margin: 0px auto;
}
.donate{
    text-align: center;
}
.donate-title{
    font-weight: bold;
    font-size: 45px;
    color: #121212; 
}
.mg-4{
    margin-bottom: 30px;
}
.mg-3{
    margin-bottom: 20px;
}
.mg-1{
    margin-bottom: 20px;
    margin-top: 130px;
}
.mg-2{
    margin-bottom: 50px;
}
.donate-description{
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}
.containar{
    display: flex;
    gap: 22px;
    justify-content: center;
}
.donate-sub-title{
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    margin-top: 60px;
    margin-bottom: 10px;
}
.containat{
    font-weight: bold;
    font-size: 30px;
    color: #707070;
    border-radius: 5px;
    background-color: #FAFAFA;
    padding: 43px 24px;
}
.containat-1{
    font-weight: bold;
    font-size: 30px;
    color: #FF5959;
    border-radius: 5px;
    background-color: #FFEEEE;
    padding: 43px 24px;
    border: 2px solid #FF5959;
}
.btn{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF5959;
    border-radius: 5px;
    padding: 16px 20px;
    border: none;
    margin-top: 30px;
}
hr{
    margin-right: 337px;
    margin-left: 338px;
}
/* plan style */
.plan-containar{
    display: flex;
    gap: 24px;
}
.plan-containt-1{
    border-radius: 5px;
    background-color: rgba(79, 157, 166, 0.1);
    padding: 63px 23px;
}
.plan-containt-2{
    border-radius: 5px;
    padding: 63px 23px;
    background-color: rgba(255, 89, 89, 0.1);
}
.plan-containt-3{
    border-radius: 5px;
    padding: 63px 23px;
    background-color: rgb(222, 181, 135);
}
.plan-containar-title{
    font-size: 24px;
    font-weight: 600;
    color: #121212;
    margin-top: 31px;
    margin-bottom: 16px;
}
.plan-containar-descrition{
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    margin-bottom: 54px;
}
/* lives sytyle */
.lives{
    display: flex;
    gap: 83px;
}
.lives img{
        margin-top: 130px;
        margin-right: 97px;
        margin-bottom: 152px;
}
.lives-containt{
    margin-top: 182px;
    margin-bottom: 151px;
}
/* need style */
.need{
    display: flex;
    gap: 94px;
}
.need-img{
    margin-bottom: 130px;
}
.need-containt{
    margin-right: 22px;
}
/* update style */
.up{
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}
.update-containar{
    background-color: #FFF4D6;
    padding: 76px 188px 76px 188px;
}
.update-containar input[type="email"]{
    background-color: #D9D9D9;
    padding: 14px 218px 14px 17px;
    font-size: 26px;
    font-weight: 500;
    color: #AA9F9F;
    border: none;
    border-radius: 5px;
}
.updates-btn{
    background-color: #FF5959;
    padding: 14px 62px 14px 42px;
    font-weight: 500;
    font-size: 26px;
    color: white;
    border-radius: 5px;
    border: none;
}





@media screen and (max-width:576px) {
    .containar, .plan-containar, .lives, .need, .up {
        flex-direction: column;
    }
    .need{
        flex-direction: column-reverse;
    }
    .donate-description, .donate-title, .btn, .update-containar {
        padding: 10px;
    }
    .update-containar input[type="email"] {
    padding: 14px 18px 14px 17px;
    }
}
/* @media screen and (min-width:576px) and (max-width:992px) {
    .containar, .plan-containar, .lives, .need, .up{
        flex-direction: column;
    }
    .need{
        flex-direction: column-reverse;
    }
} */
 